# CSV and Pandas

In [6]:
import csv
import pandas

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

# Reading a file using built-in "readlines" method:

In [7]:
with open("./weather_data.csv", mode="r") as weather_file:
    data = weather_file.readlines()
print(data)

['day,temp,condition\n', 'Monday,12,Sunny\n', 'Tuesday,14,Rain\n', 'Wednesday,15,Rain\n', 'Thursday,14,Cloudy\n', 'Friday,21,Sunny\n', 'Saturday,22,Sunny\n', 'Sunday,24,Sunny']

# Reading a file using built-in "csv" library and its "reader" method
Note: "data" variable is available only within the "with ... as" block:

In [8]:
with open("./weather_data.csv", mode="r") as weather_file:
    data = csv.reader(weather_file)
    print(data)  # "data" is a csv.reader object

<_csv.reader object at 0x10f8a2810>

# Reading a file using "pandas" library:

In [9]:
data = pandas.read_csv("./weather_data.csv")
print(data)

         day  temp condition
0     Monday    12     Sunny
1    Tuesday    14      Rain
2  Wednesday    15      Rain
3   Thursday    14    Cloudy
4     Friday    21     Sunny
5   Saturday    22     Sunny
6     Sunday    24     Sunny

In [10]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [11]:
print(data["temp"])

0    12
1    14
2    15
3    14
4    21
5    22
6    24
Name: temp, dtype: int64

In [12]:
print(type(data["temp"]))

<class 'pandas.core.series.Series'>

# Convert Dataframe to a dict

In [13]:
data_dict = data.to_dict()
print(data_dict)

{'day': {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}, 'temp': {0: 12, 1: 14, 2: 15, 3: 14, 4: 21, 5: 22, 6: 24}, 'condition': {0: 'Sunny', 1: 'Rain', 2: 'Rain', 3: 'Cloudy', 4: 'Sunny', 5: 'Sunny', 6: 'Sunny'}}

# Convert Series to a list

In [14]:
temp_list = data["temp"].to_list()
print(temp_list)

[12, 14, 15, 14, 21, 22, 24]

# Average of a Series

In [15]:
print(data["temp"].mean())

17.428571428571427

# Maximum of a Series

In [16]:
print(data["temp"].max())

24

# Get data in column, way 1: like a dictionary

In [17]:
print(data["condition"])

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

# Get data in column, way 2: like an object

In [18]:
print(data.condition)

0     Sunny
1      Rain
2      Rain
3    Cloudy
4     Sunny
5     Sunny
6     Sunny
Name: condition, dtype: object

# Get data in the "Monday" row

In [19]:
print(data[data.day == "Monday"])

      day  temp condition
0  Monday    12     Sunny

# Get the row with the highest temperature

In [20]:
print(data[data.temp == data.temp.max()])

      day  temp condition
6  Sunday    24     Sunny

# Create a new DataFrame "monday", which has only rows with "Monday" value in "day" column

In [21]:
monday = data[data.day == "Monday"]
print(monday)

      day  temp condition
0  Monday    12     Sunny

In this case data.day == "Monday" creates a boolean mask, which is a Series object like [True, False, False, ..., True]. This boolean mask is passed to the "data" DataFrame. Finally we get a new DataFrame, which has only rows with "Monday" value in the "day" column.

# Get only the specific column ("condition") from the row ("monday")

In [22]:
print(monday.condition)

0    Sunny
Name: condition, dtype: object

# Get the temperature on Monday

In [23]:
monday_temp = monday.temp[0]
print(monday_temp)

12

# Convert the temperature on Monday to Fahrenheit

In [24]:
monday_temp_F = monday_temp * 9/5 + 32
print(monday_temp_F)

53.6

# Create a dataframe from scratch

In [25]:
data_dict = {"students": ["Amy", "James", "Angela"], "scores": [76, 56, 65]}
data = pandas.DataFrame(data_dict)
print(data)

  students  scores
0      Amy      76
1    James      56
2   Angela      65

# Convert DataFrame to CSV and save it as a .csv file

In [26]:
data.to_csv("new_data.csv")