# List comprehension

## From a list

In [15]:
numbers = [1, 2, 3]
new_numbers = [n + 1 for n in numbers]

In [16]:
print(new_numbers)

[2, 3, 4]

## From a string

In [6]:
name = "Robert"
letters_list = [letter for letter in name]

In [8]:
print(letters_list)

['R', 'o', 'b', 'e', 'r', 't']

## From a range

In [13]:
range_list = [n * 2 for n in range(1, 5)]

In [14]:
print(range_list)

[2, 4, 6, 8]

## With condition

In [21]:
names = ["Alex", "Beth", "Caroline", "Dave", "Eleanor", "Freddie"]
long_caps_names = [name.upper() for name in names if len(name) > 5]

In [22]:
print(long_caps_names)

['CAROLINE', 'ELEANOR', 'FREDDIE']

# Dictionary comprehension

Formula:
new_dict = {new_key:new_value for item in list}

In [13]:
import random
names = ["Alex", "Beth", "Caroline", "Dave", "Eleanor", "Freddie"]
students_scores = {student:random.randint(1, 100) for student in names}

In [14]:
for (k, v) in students_scores.items():
    print(f"{k}: {v}")

Alex: 5
Beth: 32
Caroline: 18
Dave: 51
Eleanor: 26
Freddie: 67

# Conditional Dictionary comprehension

Formula:
new_dict = {new_key:new_value for (key, value) in dict.items() if test}

In [15]:
passed_students = {student: score for (student, score) in students_scores.items() if score > 60}

In [16]:
for k, v in passed_students.items():
    print(f"{k}: {v}")

Freddie: 67

# Loop through rows in DataFrame

Create a dictionary:

In [2]:
student_dict = {"student": ["Bill", "John", "Jack"], "score": [35, 25, 76]}

Convert the dict to the DataFrame object:

In [3]:
import pandas
student_data_frame = pandas.DataFrame(student_dict)
print(student_data_frame)

  student  score
0    Bill     35
1    John     25
2    Jack     76

Iterate through rows in the DataFrame:

In [4]:
for (index, row) in student_data_frame.iterrows():
    print(index)
    print(row)
    print()

0
student    Bill
score        35
Name: 0, dtype: object

1
student    John
score        25
Name: 1, dtype: object

2
student    Jack
score        76
Name: 2, dtype: object

Each of these rows is a pandas Series object. That means we can get a particular column using dot notation.

In [5]:
for (index, row) in student_data_frame.iterrows():
    print(row.student)

Bill
John
Jack

We can also use a condition to get the particular data:

In [6]:
for (index, row) in student_data_frame.iterrows():
    if row.student == "John":
        print(row.score)

25

# Dictionary comprehension from DataFrame

Formula:
new_dict = {new_key:new_value for (index, row) in df.iterrows()}

In [11]:
data_dict = {row.student:row.score for (index, row) in student_data_frame.iterrows()}

In [12]:
print(data_dict)

{'Bill': 35, 'John': 25, 'Jack': 76}